/*-----------Variables-----------*/
$primary-color: #858a8f;
$primary-background: #fff;
$link-color: #858a8f;
$active-color: #3293f0;
$headline-color: #000000;
$border-color: #e8e8e8;
$border-color-hover: #c9c9c9;
$orange-color: #ff8a00;
$blue-color: #00aeef;
$border-radius: 15px;
$image-src: '../../images';
$font-src: '../../fonts';
/*-----------Variables-----------*/

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-src}/opensans/opensans-300-normal.woff2') format('woff2'), url('#{$font-src}/opensans/opensans-300-normal.woff') format('woff'), url('#{$font-src}/opensans/opensans-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-src}/opensans/opensans-400-normal.woff2') format('woff2'), url('#{$font-src}/opensans/opensans-400-normal.woff') format('woff'), url('#{$font-src}/opensans/opensans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('#{$font-src}/opensans/opensans-700-normal.woff2') format('woff2'), url('#{$font-src}/opensans/opensans-700-normal.woff') format('woff'), url('#{$font-src}/opensans/opensans-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@mixin transition($property) {
  -webkit-transition: $property .3s ease 0s;
  transition: $property .3s ease 0s;
}

@mixin rotate($angle) {
    -webkit-transform: rotate(#{$angle}deg);
    -moz-transform: rotate(#{$angle}deg);
    -o-transform: rotate(#{$angle}deg);
    -ms-transform: rotate(#{$angle}deg);
    transform: rotate(#{$angle}deg);
}

@mixin sprite($x, $y) {
  background: url('#{$image-src}/sprite.svg');
  background-repeat: no-repeat;
  background-position: $x $y;
}

@mixin font-light {
    font-family: 'Open Sans';
    font-weight: 300;
}

@mixin font-normal {
    font-family: 'Open Sans';
    font-weight: 400;
}

@mixin font-bold {
  font-family: 'Open Sans';
  font-weight: 700;
}

@mixin link-opacity() {
    text-decoration: none;
    @include transition(opacity);
    &:hover, &:focus {
        text-decoration: none;
    }
    &:hover {
        opacity: 0.75;
    }
}

@mixin transparent-button() {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 0.875rem;
    line-height: 1;
    outline: none;
}

@mixin clearfix() {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
}

.cbalink {
    display: none;
}

/*---------Customs---------*/
html {
    font-family: "Segoe UI", Geneva, Arial, Helvetica, serif;
}
.fonts-loading body {
    visibility: hidden;
}
.fonts-loaded body,
.fonts-failed body {
    visibility: visible;
}
.fonts-loaded {
    @include font-normal;
    .submit-button,
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder {
        @include font-normal;
    }
    h1,
    .title,
    .header-logo-caption,
    .slider-caption article,
    .slider-phone-label,
    .fotos-item-title {
        @include font-light;
    }
    h2,h3,h4,h5,h6,
    b, strong,
    .article table th {
        @include font-bold;
    }
}


html,
body {
    position: relative;
    width: 100%;
    min-width: 300px;
    height: 100%;
    font-size: 16px;
    line-height: 25px;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 74px;
    height: 100%;
    color: $primary-color;
    background: #fafafa;
}
.header,
.footer {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.clear {
  clear: both;
}
.clearfix {
    &:after {
      content: '';
      display: table;
      clear: both;
    }
}
img {
  max-width: 100%;
  height: auto;
  outline:none;
  &:focus {
    outline:none;
  }
}
a {
  color: $link-color;
  outline:none;
  text-decoration: none;
  &:hover {
    color: #000000;
    outline:none;
    text-decoration: none;
  }
  &:focus, &:active {
      color: $link-color;
      outline:none;
      text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  color: $headline-color;
  margin: 0;
}
h1 {
    font-size: 2rem;
    line-height: 1;
}
.fixed {
  width: 100%;
  position: fixed!important;
  top: 0;
  z-index: 9;
}
.flex-video {
  height: 0;
  /*margin-bottom: 0.88889rem;*/
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative;
  iframe, object, embed, video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.table-container {
  overflow-y: auto;
  width: 100%;
}
ul {
  list-style: none;
}
figure {
    margin: 0;
    font-size: 0;
    line-height: 1;
}
section {
    &.white {
        background: #ffffff;
    }
}
.section {
    margin: 15px 0 0;
}
.map {
    iframe {
        display: block;
        width: 100%;
        max-width: 100%;
    }
}
.title-container {
    position: relative;
    top: -18px;
    text-align: center;
}
.title {
    position: relative;
    display: inline-block;
    padding: 0 50px 5px;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    color: $active-color;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: $active-color;
    }
}
.section-margin {
    margin: 30px 0 0;
}
/*---------Customs---------*/
/*---------Forms---------*/
.form-row {
    position: relative;
    padding: 10px 0;
}
input, select, textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #858a8f;
  border-radius: 20px;
  outline: none;
  font-size: 0.875rem;
  line-height: 1.42;
  -webkit-appearance: none;
  color: #000000;
  &:focus {
      border-color: #000000;
  }
  &.invalid, .error {
      background: rgba(255,212,206,.36);
  }
  &[disabled], &[disabled="disabled"] {
      opacity: 0.5;
  }
}
button {
  cursor: pointer;
  cursor: pointer;
  &[disabled], &[disabled="disabled"] {
      opacity: 0.5;
  }
}
textarea {
    display: block;
    resize: none;
    padding: 15px 10px;
    min-height: 90px;
}
::-webkit-input-placeholder {
    color:#c9c9c9;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
::-moz-placeholder {
    color:#c9c9c9;
    text-overflow:
    ellipsis; opacity: 1;
    text-transform: uppercase;
}
::-ms-input-placeholder {
    color:#c9c9c9;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.transparent-button {
    background: none;
    box-shadow: none;
    border: none;
    font-size: 0.875rem;
    line-height: 1;
    outline: none;
    @include link-opacity;
}
.submit-button {
    display: inline-block;
    vertical-align: middle;
    padding: 0 25px;
    background: $active-color;
    border: 1px solid $active-color;
    box-shadow: none;
    border-radius: $border-radius;
    font-size: 0.875rem;
    line-height: 1.71428571;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    @include transition(background);
    &:hover, &:focus {
        text-decoration: none;
        color: #ffffff;
    }
    &:hover {
        color: #ffffff;
        background: #287ed0;
    }
}
.gallery-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 0;
    padding: 3px 22px;
    background: #fafafa;
    border: 1px solid $active-color;
    border-radius: 30px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.71428571;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $active-color;
    @include transition(all);
    &:hover, &:focus {
        color: #287ed0;
        border-color: #287ed0;
        text-decoration: none;
    }
}
/*---------Forms---------*/

/*-----------Article-----------*/
.article {
    font-size: 0.875rem;
    line-height: 1.71428571;
    h2,h3,h4,h5,h6,p {
        padding: 12px 0;
    }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
      font-size: 1rem;
  }
  img  {
      margin: 20px 0;
  }
  a {
      text-decoration: none;
      color: $headline-color;
      &:hover, &:focus {
          text-decoration: underline;
          color: $headline-color;
      }
  }
  ul {
      margin: 0;
      list-style-type: none;
      li {
          position: relative;
          margin: 0;
          padding: 6px 0 6px 10px;
          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 4px;
            height: 4px;
            margin-top: -2px;
            background: $primary-color;
            border-radius: 50%;
          }
      }
  }
  table {
      margin: 30px 0 0;
      width: 100%;
      thead {
        border: 2px solid #c6c6c6;
      }
      th {
          padding: 12px 30px;
          font-size: 0.875rem;
      }
      tbody {
          tr {
              border-bottom: 2px solid $border-color;
          }
      }
      td {
        padding: 12px 30px;
      }
  }
}
/*-----------Article-----------*/

/*---------Header---------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 0;
    background: #fff;
    /*box-shadow: 0px 1px 3px #f3f4f4;*/
    border-bottom: 1px solid #e8e8e8;
    z-index: 10;
}
.header-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.header-logo-caption {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.75rem;
    line-height: 1.5;
}
.navbar-list {
    list-style-type: none;
    text-align: right;
    font-size: 0;
}
.navbar-child {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin-right: 25px;
    &.active {
        .navbar-link  {
            color: #000000;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}
.navbar-link {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-button {
    @extend .submit-button;
    &.hide-desktop {
        display: none;
    }
}
.mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0px 1px 3px #f3f4f4;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background: #ffffff;
    z-index: 10;
}
.navbar-mobile-list {
    padding: 4px;
    list-style-type: none;
    font-size: 0;
    line-height: 1;
}
.navbar-mobile-child {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    font-size: 0.75rem;
    line-height: 1;
    text-align: center;
    &.active {
        .navbar-mobile-link {
            color: #000000;
        }
    }
    &[data-id="#home"] {
        .navbar-mobile-link {
            &:before {
                width: 20px;
                height: 20px;
                margin-left: -10px;
                @include sprite(2px, -92px);
            }
        }
    }
    &[data-id="#team"] {
        .navbar-mobile-link {
            &:before {
                width: 22px;
                height: 20px;
                margin-left: -11px;
                @include sprite(-72px, -92px);
            }
        }
    }
    &[data-id="#kontakt"] {
        .navbar-mobile-link {
            &:before {
                width: 22px;
                height: 20px;
                margin-left: -11px;
                @include sprite(-182px, -92px);
            }
        }
    }
    &[data-id="#fotos"] {
        .navbar-mobile-link {
            &:before {
                width: 22px;
                height: 20px;
                margin-left: -11px;
                @include sprite(-255px, -92px);
            }
        }
    }
}
.navbar-mobile-link {
    position: relative;
    display: inline-block;
    padding: 22px 0 0;
    text-decoration: none;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
    }
    &[data-link] {
        padding: 0;
        width: 34px;
        height: 34px;
        @include sprite(-121px, -92px);
        &:before {
            display: none;
        }
    }
}
/*---------Header---------*/

/*---------Home---------*/
.home-slider-container {
    max-width: 1220px;
    padding: 0;
}
.home-slider {
    position: relative;
    height: 360px;
    overflow: hidden;
}
.slider-tem {
    position: relative;
    height: 360px;
}
.slider-caption {
    position: absolute;
    top: 30%;
    right: 15%;
    text-align: center;
    article {
        padding: 30px 0 0;
        font-size: 1.5rem;
        color: #000000;
        p {
            padding: 2px 0;
        }
    }
}
.slider-phone-title {
    text-align: center;
}
.slider-phone-label {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 16px;
        height: 22px;
        @include sprite(2px, -136px);
    }
}
.slider-phone-value {
    padding: 20px 0 0;
    font-size: 1.875rem;
    color: #fff;
}
.article-sidebar {
    ul {
        font-size: 1rem;
        line-height: 1.5625;
        text-transform: uppercase;
    }
}
.home-description-container {
    padding-top: 45px;
}
.home-description {
    .article-section {
        padding-left: 60px;
        .article {
            padding: 15px 0 0;
        }
    }
    .article-sidebar  {
        padding-left: 60px;
    }
}
/*---------Home---------*/

/*---------Team---------*/
.team-container {
    position: relative;
    padding-top: 18px;
}
.team-block {
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid $border-color;
    box-shadow: 0 1px 3px #f3f4f4;
}
.team-list {
    padding: 30px 0;
    text-align: center;
}
.person-item {
    position: relative;
    display: inline-block;
    padding: 15px;
    text-align: center;
    &:hover {
        figure {
            img {
                filter: none; /* Applies to FF + IE */
                -webkit-filter: grayscale(0);
            }
        }
    }
    figure {
        width: 132px;
        height: 132px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        img {
            display: inline-block;
            width: auto;
            height: auto;
            max-width: 132px;
            max-height: 132px;
            filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Webkit Nightlies, Google Chrome Canary and Microsoft Edge*/
        }
    }
    header {
        padding: 35px 0 0;
    }
    article {
        padding: 10px 0 0;
        font-size: 0.75rem;
        line-height: 1.25;
        color: #000000;
        word-wrap: break-word;
    }
}
.person-item-title {
    font-size: 1.125rem;
    line-height: 1.42;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #20609d;
}
.person-item-subtitle {
    padding: 10px 0 0;
    font-size: 0.75rem;
    line-height: 1.25;
    text-transform: uppercase;
    word-wrap: break-word;
}
/*---------Team---------*/

/*---------Kontakt---------*/
#kontakt {
    margin-top: 65px;
    padding-bottom: 65px;
}
.kontakt-inside {
    position: relative;
    padding: 40px 0;
    background: #ffffff;
}
.kontakt-item {
    position: relative;
    font-size: 0.875rem;
}
.kontakt-item-title {
    position: relative;
    padding: 0 0 10px;
    text-transform: uppercase;
    color: $headline-color;
}
.kontakt-sub-item {
    position: relative;
    padding: 12px 0;
}
.kontakt-sub-item-title {
    text-decoration: underline;
}
.kontakt-sub-item-description {
    padding: 20px 0 0;
}
#kontakt-form-message {
    display: none;
    text-align: center;
}
.map {
    margin: 10px 0 0;
    height: 360px;
}
/*---------Kontakt---------*/

/*---------Fotos---------*/
#fotos {

}
.fotos-list {
    padding: 15px 0 5px;
    [class^="col-inline-xs-"] {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.fotos-item {
    position: relative;
    border-radius: 3px;
    border: 1px solid $border-color;
    background: #ffffff;
    @include transition(box-shadow);
    overflow: hidden;
    box-shadow: 0px 1px 3px #f3f4f4;
    &:hover {
        border-color: $border-color-hover;
    }
    figure {
        position: relative;
        font-size: 0;
        line-height: 1;
        height: 225px;
        background-size: cover !important;
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    article {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0px 20px;
        height: 75px;
    }
}
.fotos-item-title {
    display: block;
    margin: auto 0;
    font-size: 0.875rem;
    line-height: 1.42;
    color: $headline-color;
    text-decoration: none;
}
.fotos-list-pagination {
    position: relative;
    padding: 40px 0 55px;
    text-align: center;
}
/*---------Fotos---------*/

/*---------Footer---------*/
.footer-inside {
    position: relative;
    padding: 23px 0;
    background: #20609d;
    .social {
        text-align: right;
    }
    [class^="col-inline-xs-"] {
        &:first-child {
            float: right;
        }
        &:last-child {
            float: left;
        }
    }
}
.copyright {
    font-size: 0.75rem;
    color: #3293f0;
}
.social-list {
    position: relative;
    font-size: 0;
    line-height: 1;
    list-style-type: none;
}
.social-child {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 1;
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}
.social-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 1;
    width: 40px;
    height: 30px;
    @include transition(opacity);
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:hover {
        opacity: 0.75;
    }
    &.fb {
        &:before {
            width: 16px;
            height: 30px;
            margin-top: -15px;
            margin-left: -8px;
            @include sprite(0px, 2px);
        }
    }
    &.tw {
        &:before {
            width: 30px;
            height: 30px;
            margin-top: -15px;
            margin-left: -15px;
            @include sprite(-58px, 2px);
        }
    }
    &.gp {
        &:before {
            width: 40px;
            height: 30px;
            margin-top: -15px;
            margin-left: -20px;
            @include sprite(-120px, 2px);
        }
    }
    &.xing {
        &:before {
            width: 26px;
            height: 30px;
            margin-top: -15px;
            margin-left: -13px;
            @include sprite(-182px, 2px);
        }
    }
    &.yt {
        &:before {
            width: 26px;
            height: 30px;
            margin-top: -15px;
            margin-left: -13px;
            @include sprite(-244px, 2px);
        }
    }
}
/*---------Footer---------*/

/*---------Page---------*/
.page {
    padding: 0 0 20px;
    h1 {
        font-size: 1.5rem;
    }
}
.page-header {
    position: relative;
    padding: 20px 0;
    background: #ffffff;
    text-align: center;
}
.page-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.page-body {
    padding: 35px 0 0;
}
.page-body-title {
    max-width: 66.66667%;
}
.page-row {
    position: relative;
    padding: 20px 0 0;
    margin: 0 -10px;
    @include clearfix;
}
.page-article {
    position: relative;
    float: left;
    padding: 0 10px;
    width: 66.66667%;
    min-height: 1px;
}
.page-sidebar {
    position: relative;
    float: right;
    padding: 20px 10px 0;
    width: 33.33333%;
    min-height: 1px;
    figure {
        font-size: 0;
        line-height: 1;
    }
}
.page-footer {
    padding: 30px 0;
}
.page-share {
    position: relative;
    font-size: 0;
    line-height: 1;
}
.page-share-title {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-right: 35px;
}
.page-share-list {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
}
.page-share-child {
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.page-share-link {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    font-size: 0;
    line-height: 1;
    @include transition(background-color);
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &.fb {
        background-color: #3b5999;
        &:hover {
            background-color: #314b81;
        }
        &:before {
            width: 10px;
            height: 20px;
            margin-top: -10px;
            margin-left: -5px;
            @include sprite(0px, -49px);
        }
    }
    &.tw {
        background-color: #59d1df;
        &:hover {
            background-color: #27bfd1;
        }
        &:before {
            width: 22px;
            height: 20px;
            margin-top: -10px;
            margin-left: -11px;
            @include sprite(-34px, -50px);
        }
    }
    &.gp {
        background-color: #ec5b4f;
        &:hover {
            background-color: #ce4f45;
        }
        &:before {
            width: 28px;
            height: 20px;
            margin-top: -10px;
            margin-left: -14px;
            @include sprite(-72px, -50px);
        }
    }
}
.additional-pages {
    padding: 0 0 45px;
}
/*---------Page---------*/

/*---------Media---------*/
@media(max-width: 959px) {
    .home-slider, .slider-tem {
        height: 260px;
    }
    .header-logo {
        max-width: 90px;
    }
    .header-logo-caption {
        max-width: 155px;
    }
    .slider-caption {
        top: 20%;
        right: 10%;
    }
    .slider-phone-value {
        padding: 10px 0 0;
        font-size: 1.5rem;
    }
    .slider-caption article, .slider-phone-label {
        font-size: 1.25rem;
    }
    .slider-caption article {
        padding: 15px 0 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    .home-description {
        .article-section {
            padding-left: 0;
            .article {
                padding: 0;
            }
        }
        .article-sidebar {
            padding-left: 0;
            .article {
                float: right;
            }
        }
    }
    .home-description-container {
        padding-top: 30px;
    }
    .article-sidebar {
        ul {
            font-size: 1rem;
            line-height: 1.5625;
            li {
                padding: 3px 0 3px 10px;
            }
        }
    }
    .team-list,
    .kontakt-inside {
        padding: 15px 0;
    }
    .person-item {
        header {
            padding: 10px 0 0;
        }
        figure {
            width: 100px;
            height: 100px;
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
    .map {
        height: 260px;
    }
    .fotos-list-pagination {
        padding: 25px 0 40px;
    }
    .fotos-item {
        figure {
            height: 180px;
        }
    }

}

@media(max-width: 766px) {
    /*header*/
    #navbar {
        display: none;
    }
    .navbar-button {
        &.hide-desktop {
            display: inline-block;
        }
    }
    .header-logo {
        max-width: 60px;
        margin-right: 0;
    }
    .header-logo-caption {
        max-width: 200px;
        font-size: 0.5625rem;
        line-height: 1.2;
    }
    .header-left {
        width: 100%;
        padding-right: 90px;
    }
    .header-right {
        position: absolute;
        width: auto;
        top: 50%;
        right: 5px;
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -webkit-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
    }
    .mobile-menu {
        display: block;
    }
    /*header*/
    .footer {
        padding-bottom: 45px;
    }
    .team-list {
        padding: 10px 0 40px;
        [class^="col-inline-xs-"] {
            width: 50%;
        }
    }
    .person-item {
        padding-top: 20px;
        padding-bottom: 20px;
        header {
            padding: 35px 0 0;
        }
        figure {
            width: 132px;
            height: 132px;
            img {
                max-width: 132px;
                max-height: 132px;
            }
        }
    }
    .fotos-list {
        padding: 0;
        [class^="col-inline-xs-"] {
            width: 50%;
        }
    }
    .fotos-item {
        figure {
            height: 225px;
        }
    }
    .navbar-button {
        padding: 0 12px;
    }
}

@media(max-width: 735px) {
    .home-slider, .slider-tem {
        height: 200px;
    }
    .slider-phone-value {
        font-size: 1.25rem;
    }
    .slider-phone-label {
        font-size: 1rem;
        line-height: 1;
        &:before {
            height: 14px;
        }
    }
    .slider-caption {
        article {
            font-size: 1rem;
            line-height: 1;
        }
    }

}

@media(max-width: 666px) {
    .fotos-list-pagination {
        padding-bottom: 35px;
    }
    .article {
        line-height: 1.42;
    }
    .home-description {
        [class^="col-inline-xs-"] {
            width: 100%;
        }
        .article-sidebar {
            padding-top: 15px;
            text-align: center;
            .article {
                float: none;
                display: inline-block;
                text-align: left;
            }
        }
    }
    .kontakt-inside {
        padding-top: 0;
        [class^="col-inline-xs-"] {
            width: 50%;
            &:last-child {
                width: 100%;
                .kontakt-item {
                    max-width: 255px;
                    margin: 0 auto;
                }
                .kontakt-item-title {
                    padding-bottom: 20px;
                    text-align: center;
                }
            }
        }
    }
    .kontakt-item {
        padding-top: 20px;
        line-height: 1.42;
    }
    .kontakt-sub-item {
        padding: 8px 0;
    }
    .kontakt-sub-item-description {
        padding: 15px 0 0;
    }
    .social-child {
        margin-right: 25px;
    }
    .page-body {
        padding: 20px 0 0;
    }
    .page-body-title {
        max-width: 100%;
    }
    .page-sidebar,
    .page-article {
        float: none;
        width: 100%;
    }
    .page-sidebar {
        padding-top: 0;
        text-align: center;
    }
    .additional-pages {
        padding: 0 0 25px;
    }

}

@media(max-width: 567px) {
    .page h1, .page-title, h1 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 1.5rem;
        padding: 0 20px 5px;
    }
    .slider-caption {
        right: 5%;
    }
    .social-child {
        margin-right: 20px;
    }
    .page-footer {
        padding: 15px 0 30px;
    }
}

@media(max-width: 479px) {
    .home-slider, .slider-tem {
        height: 115px;
    }
    .slider-phone-label,
    .slider-phone-value {
        display: none;
    }
    .slider-caption {
        right: 10px;
        article {
            font-size: 0.75rem;
            line-height: 1;
        }
    }
    .team-list {
        [class^="col-inline-xs-"] {
            width: 100%;
        }
    }
    .kontakt-inside {
        [class^="col-inline-xs-"] {
            width: 100%;
        }
    }
    .kontakt-item-title {
        text-align: center;
    }
    .map {
        height: 205px;
    }
    .fotos-list {
        [class^="col-inline-xs-"] {
            width: 100%;
        }
    }
    .footer-inside {
        padding: 20px 0;
        text-align: center;
        [class^="col-inline-xs-"] {
            width: 100%;
            padding-top: 15px;
            &:first-child {
                padding-top: 0;
            }
        }
        .social {
            text-align: center;
        }
    }


}
/*---------Media---------*/
