<section class="additional-pages white">
    <div class="container">
        <div class="title-container">
            <div class="title">kürzliche Beiträge</div>
        </div>
        <!--list!-->
        <div class="fotos-list">
            <!--row!-->
            <div class="row-inline">
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/additional-pages-1.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Tipps zur richtigen Altersvorsorge
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/additional-pages-2.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    SmartGarant – Sicherheit UND Rendite! Ohne Verlustrisiko.
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/additional-pages-3.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Reiseversicherung für Privat- & Geschäftsreisen! Einfach Online abschließen.
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
            </div>
            <!--row!-->
        </div>
        <!--list!-->
    </div>
</section>
