<!--footer!-->
<footer class="footer">
    <div class="footer-inside">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-xs-6 middle">
                    <div class="social">
                        <ul class="social-list">
                            <li class="social-child">
                                <a href="https://www.facebook.com/asvkainz/" class="social-link fb" target="_blank"></a>
                            </li>
                            <li class="social-child">
                                <a href="https://twitter.com/asv" class="social-link tw" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-xs-6 middle">
                    <div class="copyright">Copyright All Rights Reserved &copy; 2016</div>
                </div>
            </div>
        </div>
    </div>
    <!--mobile menu!-->
    <div class="mobile-menu">
        <nav id="navbar-mobile">
            <ul class="navbar-mobile-list">
                <li data-id="#home" class="navbar-mobile-child active">
                    <a href="#" class="navbar-mobile-link">Home</a>
                </li>
                <li data-id="#team" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Team</a>
                </li>
                <li class="navbar-mobile-child">
                    <a data-link href="tel:+4326856420" class="navbar-mobile-link"></a>
                </li>
                <li data-id="#kontakt" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Kontakt</a>
                </li>
                <li data-id="#fotos" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Fotos</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--mobile menu!-->
</footer>
<!--footer!-->

<script src="js/fontfaceobserver.js"></script>

<script>
    var light = new FontFaceObserver('Open Sans', {
        weight: 300
    });
    var normal = new FontFaceObserver('Open Sans', {
        weight: 400
    });
    var bold = new FontFaceObserver('Open Sans', {
        weight: 700
    });
    var html = document.documentElement;

    html.classList.add('fonts-loading');

    Promise.all([
        light.load(),
        normal.load(),
        bold.load()
    ]).then(function () {
        html.classList.remove('fonts-loading');
        html.classList.add('fonts-loaded');
        sessionStorage.fontsLoaded = true;
        console.log('Open Sans is loading');
    }).catch(function () {
        html.classList.remove('fonts-loading');
        html.classList.add('fonts-failed');
        sessionStorage.fontsLoaded = false;
        console.log('Open Sans error loading');
    });
</script>

<script async src="build/js/all.min.js?ver=1.0.8"></script>

</body>
</html>
