<!--footer!-->
<footer class="footer">
    <div class="container">
        <div class="row-inline">
            <div class="col-inline-xs-6 middle">
                <div class="copyright">Copyright All Rights Reserved &copy; 2016</div>
            </div>
            <div class="col-inline-xs-6 middle">
                <div class="social">
                    <ul class="social-list">
                        <li class="social-child">
                            <a href="#" class="social-link fb" target="_blank"></a>
                        </li>
                        <li class="social-child">
                            <a href="#" class="social-link tw" target="_blank"></a>
                        </li>
                        <li class="social-child">
                            <a href="#" class="social-link gp" target="_blank"></a>
                        </li>
                        <li class="social-child">
                            <a href="#" class="social-link xing" target="_blank"></a>
                        </li>
                        <li class="social-child">
                            <a href="#" class="social-link yt" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer!-->

<link defer rel="stylesheet" property="stylesheet" href="build/css/all.min.css?ver=1.0.1" type="text/css"/>
<script asyns src="build/js/all.min.js?ver=1.0.1"></script>
<script asyns src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7eApaB-RItAg7GgomOGpEuRuFzKQ9xMc"></script>

</body>
</html>
