<!--footer!-->
<footer class="footer">
    <div class="footer-inside">
        <div class="container">
            <div class="row-inline">
                <div class="col-inline-xs-6 middle">
                    <div class="social">
                        <ul class="social-list">
                            <li class="social-child">
                                <a href="javascript:;" class="social-link fb" target="_blank"></a>
                            </li>
                            <li class="social-child">
                                <a href="javascript:;" class="social-link tw" target="_blank"></a>
                            </li>
                            <li class="social-child">
                                <a href="javascript:;" class="social-link gp" target="_blank"></a>
                            </li>
                            <li class="social-child">
                                <a href="javascript:;" class="social-link xing" target="_blank"></a>
                            </li>
                            <li class="social-child">
                                <a href="javascript:;" class="social-link yt" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-inline-xs-6 middle">
                    <div class="copyright">Copyright All Rights Reserved &copy; 2016</div>
                </div>
            </div>
        </div>
    </div>
    <!--mobile menu!-->
    <div class="mobile-menu">
        <nav id="navbar-mobile">
            <ul class="navbar-mobile-list">
                <li data-id="#home" class="navbar-mobile-child active">
                    <a href="#" class="navbar-mobile-link">Home</a>
                </li>
                <li data-id="#team" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Team</a>
                </li>
                <li class="navbar-mobile-child">
                    <a data-link href="tel:+43(0)26856420" class="navbar-mobile-link"></a>
                </li>
                <li data-id="#kontakt" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Kontakt</a>
                </li>
                <li data-id="#fotos" class="navbar-mobile-child">
                    <a href="#" class="navbar-mobile-link">Fotos</a>
                </li>
            </ul>
        </nav>
    </div>
    <!--mobile menu!-->
</footer>
<!--footer!-->

<script async src="build/js/all.min.js?ver=1.0.3"></script>

</body>
</html>
