<section id="fotos">
    <div class="container">
        <div class="title-container">
            <div class="title">Fotos</div>
        </div>
        <!--list!-->
        <div class="fotos-list">
            <!--row!-->
            <div class="row-inline">
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/berlin-2015.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2015 - Berlin
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/budapest-2014.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2014 - Budapest
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/krakau-2013.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2013 Krakau
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/muenchen-2012.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2012 - Muenchen
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/kroatien-2011.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2011 - Kroatien
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/prag-2010.jpg') no-repeat center;">
                                <a href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://medium.com/asv-kainz/kundenreise-2015-berlin-f150b3883c65#.8khbt3fro" target="_blank">
                                    Kundenreise 2010 - Prag
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
            </div>
            <!--row!-->
        </div>
        <!--list!-->
        <div class="fotos-list-pagination">
            <a href="https://medium.com/asv-kainz" class="gallery-button" target="_blank">MORE GALLERIES ON MEDIUM.COM</a>
        </div>
    </div>
</section>
