<section id="fotos">
    <div class="container">
        <div class="title-container">
            <div class="title">Fotos</div>
        </div>
        <!--list!-->
        <div class="fotos-list">
            <!--row!-->
            <div class="row-inline">
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/berlin-2015.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2015-berlin-f150b3883c65#.u1sgx5p53" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2015-berlin-f150b3883c65#.u1sgx5p53" target="_blank">
                                    Kundenreise 2015 - Berlin
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/budapest-2014.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2014-budapest-9b063ea666a9#.6axzmxoiu" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2014-budapest-9b063ea666a9#.6axzmxoiu" target="_blank">
                                    Kundenreise 2014 - Budapest
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/krakau-2013.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2013-krakau-1a8d4b4414f0#.cuk13wh0z" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2013-krakau-1a8d4b4414f0#.cuk13wh0z" target="_blank">
                                    Kundenreise 2013 Krakau
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/muenchen-2012.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2012-m%C3%BCnchen-ebfccd95c915#.b85zypp5p" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2012-m%C3%BCnchen-ebfccd95c915#.b85zypp5p" target="_blank">
                                    Kundenreise 2012 - Muenchen
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/kroatien-2011.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2011-kroatien-7362fd73ce20#.b8smbwf3k" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2011-kroatien-7362fd73ce20#.b8smbwf3k" target="_blank">
                                    Kundenreise 2011 - Kroatien
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
                <div class="col-inline-xs-4 top">
                    <section class="fotos-item">
                        <header>
                            <figure style="background: url('images/admin/prag-2010.jpg') no-repeat center;">
                                <a href="https://blog.asvkainz.com/kundenreise-2010-prag-a80b74a31418#.ruq7os1o0" target="_blank">
                                </a>
                            </figure>
                            <article>
                                <a class="fotos-item-title" href="https://blog.asvkainz.com/kundenreise-2010-prag-a80b74a31418#.ruq7os1o0" target="_blank">
                                    Kundenreise 2010 - Prag
                                </a>
                            </article>
                        </header>
                    </section>
                </div>
            </div>
            <!--row!-->
        </div>
        <!--list!-->
        <div class="fotos-list-pagination">
            <a href="https://blog.asvkainz.com/tagged/asv-event" class="gallery-button" target="_blank">MORE GALLERIES ON MEDIUM.COM</a>
        </div>
    </div>
</section>
