<!--header!-->
<header class="header">
    <div class="container">
        <div class="row-inline">
            <div class="col-inline-xs-5 middle">
                <figure class="header-logo" itemscope itemtype="http://schema.org/Organization">
                    <meta itemprop="name" content="Asvkainz">
                    <meta itemprop="email" content="office@asvkainz.com">
                    <meta itemprop="address" content="7071 Rust, F.W. Raiffeisenstraße 2">
                    <meta itemprop="telephone" content="+43 (0) 2685 6420">
                    <a itemprop="url" href="/">
                        <img itemprop="logo" src="images/logo.png" width="109" height="61" alt="Asvkainz" title="Asvkainz">
                    </a>
                </figure>
                <div class="header-logo-caption">
                    <p>ASV Kainz Versicherungsmakler GmbH</p>
                    <p>seit 1998</p>
                </div>
            </div>
            <div class="col-inline-xs-7 middle">
                <nav id="navbar">
                    <ul class="navbar-list">
                        <li data-id="#home" class="navbar-child active">
                            <a href="#" class="navbar-link">Home</a>
                        </li>
                        <li data-id="#team" class="navbar-child">
                            <a href="#" class="navbar-link">Team</a>
                        </li>
                        <li data-id="#kontakt" class="navbar-child">
                            <a href="#" class="navbar-link">Kontakt</a>
                        </li>
                        <li data-id="#fotos" class="navbar-child">
                            <a href="#" class="navbar-link">Fotos</a>
                        </li>
                        <li class="navbar-child">
                            <a data-link="1" href="https://medium.com/" class="navbar-button">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--header!-->
