<!DOCTYPE html>
<html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="format-detection" content="telephone=no">
        <meta name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta content="true" name="HandheldFriendly">
        <meta content="width" name="MobileOptimized">
        <meta content="yes" name="apple-mobile-web-app-capable">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" property="stylesheet" href="build/css/all.min.css?ver=1.0.3" type="text/css"/>
        <title>Asvkainz</title>
    </head>

    <body>
