<section id="home" class="home-section">

    <!--home-slider!-->
    <div class="container home-slider-container">
        <div id="js-home-slider" class="home-slider">
            <!--slide!-->
            <div>
                <section class="slider-tem" style="background: url('images/admin/home-slide-1-1200-360.jpg') no-repeat center; background-size: cover;">
                    <div class="slider-caption">
                        <header>
                            <div class="slider-phone-title">
                                <div class="slider-phone-label">You can call us:</div>
                            </div>
                            <div class="slider-phone-value">+43 (0) 2685 6420</div>
                        </header>
                        <article>
                            <p>Unsere Öffnungszeiten</p>
                            <p>Mo. - Fr.: 08.00 – 18.00</p>
                        </article>
                    </div>
                </section>
            </div>
            <!--slide!-->
            <!--slide!-->
            <div>
                <section class="slider-tem" style="background: url('images/admin/home-slide-2-1200-360.jpg') no-repeat center; background-size: cover;">
                    <div class="slider-caption">
                        <header>
                            <div class="slider-phone-title">
                                <div class="slider-phone-label">You can call us:</div>
                            </div>
                            <div class="slider-phone-value">+43 (0) 2685 6420</div>
                        </header>
                        <article>
                            <p>Unsere Öffnungszeiten</p>
                            <p>Mo. - Fr.: 08.00 – 18.00</p>
                        </article>
                    </div>
                </section>
            </div>
            <!--slide!-->
            <!--slide!-->
            <div>
                <section class="slider-tem" style="background: url('images/admin/home-slide-3-1200-360.jpg') no-repeat center; background-size: cover;">
                    <div class="slider-caption">
                        <header>
                            <div class="slider-phone-title">
                                <div class="slider-phone-label">You can call us:</div>
                            </div>
                            <div class="slider-phone-value">+43 (0) 2685 6420</div>
                        </header>
                        <article>
                            <p>Unsere Öffnungszeiten</p>
                            <p>Mo. - Fr.: 08.00 – 18.00</p>
                        </article>
                    </div>
                </section>
            </div>
            <!--slide!-->
        </div>
    </div>
    <!--home-slider!-->

    <!--home-description!-->
    <div class="container home-description-container">
        <div class="home-description">
            <div class="row-inline">
                <div class="col-inline-xs-8 middle">
                    <section class="article-section">
                        <header>
                            <h1>Ihr Versicherungsmakler</h1>
                        </header>
                        <article class="article">
                            <p>Lorem ipsum dolor sit amet, eos quem munere ex. Ludus voluptatum<br> reprimique pri te, ne solet instructior eum. Vis detracto consequuntur ea, ex<br> mea mundi accumsan interesset. Mediocrem elaboraret eu vis, at sadipscing<br> consectetuer sed, hinc omittam efficiendi sit ex. Ex sonet nonumy qui, mei<br> wisi liber ex, nobis possit sit eu. Cu verear inermis has.</p>
                        </article>
                    </section>
                </div>
                <div class="col-inline-xs-4 middle">
                    <section class="article-sidebar">
                        <article class="article">
                            <ul>
                                <li>Haus & Wohnung</li>
                                <li>Kfz Versicherung</li>
                                <li>Krankenversicherung</li>
                                <li>Rechtsschutz</li>
                                <li>Reiseversicherung</li>
                                <li>Unfallversicherung</li>
                                <li>Zukunftsvorsorge</li>
                            </ul>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--home-description!-->

</section>
