<section id="kontakt" class="section-margin white">
    <div class="container">
        <div class="title-container">
            <div class="title">Kontakt</div>
        </div>
        <div class="kontakt-inside">
            <div class="row-inline">
                <div class="col-inline-xs-4 top">
                    <div class="kontakt-item">
                        <div class="kontakt-item-title">UND WANN DÜRFEN WIR SIE BERATEN?</div>
                        <div class="kontakt-sub-item">
                            <div class="kontakt-sub-item-title">Unsere Individualtermine</div>
                            <div class="kontakt-sub-item-description">
                                <p>Vereinbaren Sie Ihren individuellen<br> Wunschtermin. Wir sind für Sie da.<br> Immer wenn Sie uns benötigen.</p>
                            </div>
                        </div>
                        <div class="kontakt-sub-item">
                            <div class="kontakt-sub-item-title">Unsere Öffnungszeiten</div>
                            <div class="kontakt-sub-item-description">
                                <p>Montag bis Freitag:</p>
                                <p>08.00 – 18.00 Uhr</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-inline-xs-4 top">
                    <div class="kontakt-item">
                        <div class="kontakt-item-title">Standortinfos</div>
                        <div class="kontakt-sub-item">
                            <div class="kontakt-sub-item-title">Parken</div>
                            <div class="kontakt-sub-item-description">
                                <p>Direkt vor unserem Büro stehen freie<br> Parkmöglichkeiten in ausreichender<br> Anzahl zur Verfügung.</p>
                            </div>
                        </div>
                        <div class="kontakt-sub-item">
                            <div class="kontakt-sub-item-title">Kontaktinfo</div>
                            <div class="kontakt-sub-item-description">
                                <p>7071 Rust, F.W. Raiffeisenstraße 2</p>
                                <p><a href="tel:+43(0)26856420">+43 (0) 2685 6420</a></p>
                                <p><a href="tel:+43(0)26856420-5">+43 (0) 2685 6420-5</a></p>
                                <p><a href="mailto:office@asvkainz.com">office@asvkainz.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-inline-xs-4 top">
                    <div class="kontakt-item">
                        <div class="kontakt-item-title">Wir freuen uns auf Ihre Nachricht</div>
                        <form name="kontakt-form">
                            <div class="form-row">
                                <input type="text" name="name" placeholder="name">
                            </div>
                            <div class="form-row">
                                <input type="tel" name="phone" placeholder="Telefon">
                            </div>
                            <div class="form-row">
                                <input type="email" name="email" placeholder="email">
                            </div>
                            <div class="form-row">
                                <textarea name="message" placeholder="Verfasse eine Nachricht ..."></textarea>
                            </div>
                            <div class="form-row">
                                <div class="text-center">
                                    <button id="js-kontakt-submit" type="submit" class="submit-button">SENDEN</button>
                                </div>
                            </div>
                        </form>
                        <div id="kontakt-form-message"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="js-map" data-lat="47.800150" data-lng="16.670500" class="map"></div>
</section>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7eApaB-RItAg7GgomOGpEuRuFzKQ9xMc"></script>
