@@include('templates/partials/head.html')
@@include('templates/partials/header.html')

<!--main!-->
<main>
    <!--page!-->
    <div class="page">
        <!--header!-->
        <div class="page-header">
            <div class="container">
                <div class="page-title">Rechtsschutz</div>
            </div>
        </div>
        <!--header!-->
        <!--body!-->
        <div class="page-body">
            <div class="container">
                <div class="page-body-title">
                    <h1>Recht haben und Recht bekommen sind zwei verschiedene Dinge.</h1>
                </div>
                <div class="page-row">
                    <div class="page-sidebar">
                        <figure>
                            <img src="images/admin/image-305-200.jpg" width="305" height="200" alt="Recht haben und Recht bekommen
sind zwei verschiedene Dinge" title="Recht haben und Recht bekommen
sind zwei verschiedene Dinge">
                        </figure>
                    </div>
                    <div class="page-article">
                        <article class="article">
                            <p>Die hohen Rechtsanwaltskosten, <a href="#">Gerichtsgebühren und Kosten</a> für ein Sachverständigenverfahren schrecken viele vor der Durchsetzung Ihrer Ansprüche ab.</p>
                            <p>Mit der richtigen Rechtsschutzversicherung fällt zumindest das finanzielle Wagnis, also das Prozesskostenrisiko, eines Streitfalles weg.</p>
                            <p>Wichtig ist, bereits beim Abschluss sämtliche zukünftige Streitursachen einzuschließen. Aufbauend auf ein Grundpaket können wir auf diverse Bausteine zurückgreifen, um eine möglichst komplette Abdeckung gewährleisten zu können.</p>
                            <p>Natürlich gibt es auch die Kfz-Rechtsschutzversicherung, die im heutigen Straßenverkehr nahezu unabdingbar erscheint.</p>
                            <p>Innerhalb der Rechtsschutzversicherung achten wir jedenfalls auch darauf, dass Streitigkeiten mit Versicherungen abgedeckt sind!</p>
                            <p>Mit den österreichischen Top-Spezial-Rechtsschutzversicherungen in unserer Auswahl sorgen wir dafür, dass Sie nicht nur Recht haben, sondern auch Recht bekommen!</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <!--body!-->
        <!--footer!-->
        <div class="page-footer">
            <div class="container">
                <div class="page-share">
                    <div class="page-share-title">Teilen</div>
                    <ul class="page-share-list">
                        <li class="page-share-child">
                            <a href="javascript:;" class="page-share-link fb"></a>
                        </li>
                        <li class="page-share-child">
                            <a href="javascript:;" class="page-share-link tw"></a>
                        </li>
                        <li class="page-share-child">
                            <a href="javascript:;" class="page-share-link gp"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--footer!-->
    </div>
    <!--page!-->
    @@include('templates/partials/additional-pages.html')
</main>
<!--main!-->

@@include('templates/partials/footer.html')
